includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app

    level: 4

    # pivot関連のエラーをignore設定する
    ignoreErrors:
        - '#^Access to an undefined property .*::\$pivot\.$#'
